@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;500;700&family=Reddit+Mono:wght@200..900&family=Source+Code+Pro:wght@700&family=Source+Sans+3:wght@400;600;700&family=Ubuntu&display=swap');

:root {
    --background-card-color: white;
    --header-color: black;
    --paragraph-color: #464646;
    --light-paragraph-color: #adadad;
    --disabled-color: #d5d2d2;
    --info-color: rgb(171, 171, 255);
    --important-color: red;
    --info: blue;

}